body {
	color: white;
  background-color: #708090; 
  margin: 0px;
}
.main{
  padding-top: 50px;
}

ul.navbar {
  padding-left: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
  position: fixed;
}
h1 {
  font-family: Helvetica, Geneva, Arial, SunSans-Regular, sans-serif;
}
ul.navbar li {
  float: left;
}
ul.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
a:link {
  color: blue;
}
a:visited {
  color: blue;
}
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted;
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

td, th {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

th {
  background-color: #171717;
}

td {
  text-align: center;
}

tr:nth-child(even) td {
  background-color: #171717;
}

tr:nth-child(odd) td {
  background-color: #171717;
}

caption {
  padding: 10px;
}
  